:root {
    --pink: #ef5777;
    --withe: #fff;
    --black: #222;
    --transparent-white: rgba(255, 255, 255, 0.3);
    --border: 0.12rem solid var(--black);
    --box-shadow: 0 0.6rem 0.7rem rgba(16, 9, 44, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to top left, #d84824, #30df82, #228ae6);
    /* background: radial-gradient(circle, #ff0000, #00ff00, #0000ff); */
}

.amigos {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0.4rem 0.1rem;
}

.header h1 {
    text-align: center;
    color: rgb(225, 227, 231);
    font-size: 2.5rem;
    font-style: italic;
}

.header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.container {
    margin-top: 1rem;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    justify-content: center;
}

.container img {
    width: 600px;
    height: 450px;
    border-radius: 10px;
}

.container .parrafo {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    background: #e3f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.container .parrafo h2 {
    color: rgb(17, 16, 16);
    font-size: 1.7rem;
}

.container .parrafo p {
    font-size: 1.9rem;
    color: rgb(37, 37, 185);
    font-style: italic;
}

.container-img {
    margin-top: 3rem;
}

.container-img h3 {
    font-size: 2rem;
    color: blue;
    margin-left: 10px;
}

.container-img .images {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.container-img .images .photos h2 {
    font-style: italic;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container-img .images .photos img {
    width: 550px;
    height: 550px;
    border-radius: 50%;

}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container-img .images .photos img:hover {
    /* transform: rotate(20deg) scale(1.2) translateX(20px); */
    /* transform-origin: bottom right;
    transform: rotate(20deg) ; */
    animation: rotateAnimation 6s linear infinite; /* Rotación continua */

}

.formulario{
    margin-top: 3rem;
    display: grid;
    place-items: center;
}

.formulario h2{
    font-size: 2.3rem;
    color: blue;

}

.formulario form p{
    font-size: 1.3rem;
    font-weight: bold;
}

.formulario form{
    background: var(--transparent-white);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(.5rem);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    height: 600px;
    padding: 40px;
    margin-bottom: 5rem;
    border-radius: 10px;
}


.formulario form .logo{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.formulario form .logo label{
    font-size: 1.3rem;
    font-style: oblique;

}

.formulario form .logo input{
    padding: 15px;
    background: var(--transparent-white);
    border: 0.12rem solid #0849d4;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1.2rem;
    /* border-style: none; */
}

.formulario form .logo input::placeholder{
    font-size: 1rem;
    color: rgb(61, 61, 237);
    font-style: italic;
}

.formulario form .logo textarea{
    padding: 30px 20px 30px;
    background: var(--transparent-white);
    border: 0.12rem solid #0849d4;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1.2rem;
}

.formulario form .logo textarea::placeholder{
    font-size: 1rem;
    color: rgb(61, 61, 237);
    font-style: italic;
}

.formulario form .input{
    padding: 15px;
    background: radial-gradient(circle, #55b8dc, #0d1ad4);
    /* background-image: linear-gradient(to right, #ff0000, #00ff00, #0000ff); */
    border-radius: 5px;
    border-style: none;
    
}

.formulario form .input{
    font-size: 1.5rem;
    font-style: italic;
    width: 300px;
}

.formulario form input:hover{
    transform: translateY(-5px) translateX(3px);
    transition: .2s;
}

.formulario form textarea:hover{
    transform: translateY(-5px) translateX(3px);
    transition: .2s;
}


.formulario form .btn-enviar{
    text-align: center;
}

.formulario form .btn-enviar .input:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: -3px 4px 8px #83e7e7;
    transition: .25s;
}

.formulario form p{
    color: #0849d4;
}
