*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border: 1px solid black;
}


.container .principal{
    display: flex;
}

.container .principal .container-opciones{
    display: flex;
    flex-direction: column;
    width: 150px;
    border: 1px solid black;
}

.container .principal .container-opciones .opciones{
    display: flex;
    flex-direction: column;
}

.container .principal .container-opciones .opciones img{
    width: 100%;
}

.container .principal .container-opciones .opciones .opcion{
    background: rgb(189, 71, 38);
    color: white;
    padding: 8px;
    text-align: center;
}

.container .principal .container-opciones .opciones .opcion a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 8px;
    text-align: center;

}

.container .principal .container-opciones .sub-menu{
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
}

.principal .container-opciones .sub-menu .detalle{
    border: 2px solid rgb(248, 105, 34);
    padding: 8px;
    text-align: center;
    color: rgb(85, 84, 84);
}

.container .pie{
    width: 100%;
    background: orange;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(46, 45, 45);
}

.principal .navigation{
    display: flex;
    flex-direction: column;
    width: 750px;
}


.principal .navigation .menu{
    display: flex;
    padding: 5px;
    width: 100%;
    background: orange;
    border: 1px solid black;
    justify-content: space-between;
}
.principal .navigation .menu .botenes{
    display: flex;
    border-right: 1px solid black;
    height: 40px;
    border-right: 2px solid rgb(6, 6, 6);
    width: 150px;
    align-items: center;
    justify-content: center;
}

.principal .navigation .menu .btn_5{
    border: none;
}

.principal .navigation .menu .botenes a .btn{
    background: white;
    padding: 10px;
    width: 120px;
    font-weight: bold;
}

.principal .navigation .menu .botenes .btn4{
    background: white;
    padding: 10px;
    width: 120px;
    font-weight: bold;
}

.principal .navigation .menu .botenes .btn4:hover{
    background: black;
    color: white
}

.principal .navigation .menu .botenes a .btn:hover{
    background: black;
    color: white
}

.principal .navigation .titulo{
    width: 100%;
    padding: 14px;
    background: rgb(254, 220, 172);
    text-align: center;
    font-weight: bold;
    border: 2px dotted black;
}


/* CONTENIDO  */
.principal .navigation .contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.principal .navigation .contenido .card-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 5px;
    box-shadow: -2px 3px 8px rgb(146, 145, 145);

}

.principal .navigation .contenido .card-container .title{
    display: flex;
    flex-direction: column;
    gap: 13px;
    background: rgb(194, 198, 246);
    padding: 20px;
    padding-bottom: 55px;
}

.principal .navigation .contenido .card-container .perfil{
    position: absolute;
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(241, 238, 238);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-left: 25px;
}

.principal .navigation .contenido .card-container .perfil img{
    border-radius: 50%;
    width: 100%;
}

.principal .navigation .contenido .card-container .title h2, p{
    color: rgb(104, 116, 249);
    font-weight: bold;
}

.principal .navigation .contenido .card-container .datos{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    padding-top: 70px;
    margin-bottom: 20px;
}

.principal .navigation .contenido .card-container .datos h2{
    font-size: 1.4rem;
    color: rgb(107, 106, 106);
    margin-bottom: 10px;
}

.principal .navigation .contenido .card-container .datos p{
    color: rgb(131, 129, 129);
}




/* ESTILOS PARA EL LOGIN  */
td{
    width: 30px;
    border: 1px solid black;
}


h2 {
    color: #333;
}

.container-pregunta1 {
    border: 1px solid rgba(0, 0, 0, 0.214);
    margin-top: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
}

.container-pregunta1 form #btn_entrar{
    width: 100px;
    background: white;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
}

.container-pregunta1 .teclado-virtual{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-pregunta1 form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container-pregunta1 .datos-login{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-bottom: 30px;
}

.container-pregunta1 .btn_limpiar{
    background: white;
    width: 100px;
    border: 1px solid black;
    margin-left: 150px;
}

.container-pregunta1 .datos-login .datos input{
    padding: 5px;

}


.container-pregunta1 form .butones #btn_{
    background: white;
    width: 100px;
    border: 1px solid black;
    
}

.container-pregunta1 .teclado-virtual label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.container-pregunta1 .teclado-virtual table{
    width: 200px;
}

.container-pregunta1 .teclado-virtual input[type="password"] {
    width: 200px;
    padding: 5px;
    font-size: 16px;
}

.container-pregunta1 .teclado-virtual input[type="button"], td {
    text-align: center;
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.container-pregunta1 .teclado-virtual td:hover {
    background-color: #eee;
}

.container-pregunta1 .teclado-virtual table {
    margin: auto;
}





.contenido .container-calificaciones{
    display: flex;
    flex-direction: column;
}

.container-alumnos{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.container-alumnos .tabla-alumnos{
    width: 100%;

}

.container-alumnos .tabla-alumnos th{
    background: orange;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.container-alumnos .tabla-alumnos td{
    border: 1.5px solid orange;
    background: rgb(248, 237, 217);
}


.btn_insertar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}





.formulario {
    width: 300px;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.formulario div {
    margin-bottom: 15px;
}


.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario .btn_insertar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario .btn_insertar:hover {
    background-color: #45a049;
}











.horarios{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.horarios .tabla-horarios{
    width: 100%;
    border: 1px solid #1a1919;
    /* border-collapse: collapse; */
    border-radius: 4px;
    overflow: hidden;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.horario{
    background: yellow;
}

.horario2{
    background: yellow;
}

.horarios .horas, th{
    background: rgb(72, 118, 254);
}

.horarios .tabla-horarios th{
    padding: 5px;
}



.contenido-calificaciones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contenido-calificaciones select{
    padding: 4px;
    border: 2px solid greenyellow;
}


.container-calificaciones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    overflow-y: hidden;
}

.container-calificaciones #form-edit{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-calificaciones table{
    border: 1px solid #1a1919;
    border-collapse: collapse;
    width: 100%;

}

.container-calificaciones table .nombres{
    width: 220px;
}

.container-calificaciones table td input{
    width: 60px;
    padding: 5px;
    border: 2.5px solid orange;
    text-align: center;
}

.container-calificaciones table th{
    padding: 10px;
}

.container-calificaciones #form-edit button{
    padding: 8px;
    width: 150px;
    background: rgb(47, 105, 240);
    color: white;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    /* background-color: rgba(176, 252, 237, 0.895); */
}


.informes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.informes #form-informe{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.informes #form-informe select{
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.informes #form-informe input{
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 80px;
}
